/* <!-- W3c has an html & css validator. I used it to check my syntax!
https://jigsaw.w3.org/css-validator/ */

a{
    color: inherit; 
    text-decoration: none;
}

* {
    box-sizing: border-box;
} /* what this does is it makes the box sizes pre-specified. */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header ul {
    display: flex;
    gap: 15px;
    font-size: 15px;
}

header ul a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 4px;
}

header ul a:hover {
    color: #d6a419;
    background-color: #34495e;

}

header ul a.current {
    background-color: #34495e;
}
.logo{
    font-size: 30px;
    font-family: monospace;
}
.two-slashes{
    color:#d6a419;
}